/* Extra extra small */
@media only screen and (max-width: 450px){
    .download-btns {
        flex-direction: column;
    }
    .rx-btns {
        flex-direction: column;
    }

    h3 {
        font-size: 1rem;
    }

    .selected-lang {
        width: 70px;
        font-size: 0.8em;
    }

    .text-resize-btn:nth-child(1) {
        font-size: 0.75rem;
    }

    .text-resize-btn:nth-child(2) {
        font-size: 1rem;
    }

    .text-resize-btn:nth-child(3) {
        font-size: 1.25rem;
    }


    
}

@media screen and (max-width:800px) {  /* 800 and down, side bar nav */

    /* services drop down - hide on mobile */
    .drop-down {
        display: none !important;
    }
    .services-header .dropdown-icon {
        display: none;
    }

    /* nav */

    .logo-for-mobile img {
        display: block;
    }

    .logo {
        margin-top: 1rem;
        margin: 0 auto;
    }

    .nav-bar {
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: min(19rem, 100%);
        z-index: 10;
        transition: right 300ms ease-out;
        padding: 2rem;
        text-align: start;
    }
    .nav-bar.show {
        right: 0;
    }
    .nav-bar.show ~ #overlay{
        display: block;
        transition: color 300ms ease-in-out;
    } 
    .nav-links {
        flex-direction: column;
        width: 100%;
    }
    #open-sidebar-button, #close-sidebar-button {
        display: block;
    }  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* BASE STYLES */
    .footer-contact-info {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-contact-info div {
        flex: 1 1 calc(50% - 1rem);
    }

    /* HOME PAGE */
    .contact-info {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contact-info div {
        flex: 1 1 calc(50% - 1rem);
    }

    /* SERVICED PROVIDED PAGE */
    .desc, .services-article img {
        max-width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* BASE STYLES */
    
    .footer-contact-info {
        flex-wrap: nowrap;
    }

    footer .facebook p{
        max-width: 95%;
    }  
}

/* Large devices (laptops/desktops, 900px and up) */
@media only screen and (min-width: 900px) {
    
    /* BASE STYLES */
    main {
        margin-inline: 10vw;
    }
    footer {
        padding-inline: 10vw;
    }

    /* HOME PAGE */
    .contact-info {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
    }
    .facebook{
        max-width: 25%;
    }
    .facebook p {
        max-width: 90%;
    } 

    .services-provided ul {
        flex-direction: row;
    }

    .services-provided li {
        flex: 1 1 calc(33.33% - 2rem);
        padding: .5rem;
        margin: .5rem;
    }

    .mini-about {
        flex-direction: row;
    }

    .review {
        max-width: 400px;
    }
    .reviews {
        display: flex;
    }

    .more-reviews {
        max-width: 100%;
    }

    /* ABOUT US PAGE */
    .rph-container {
        flex-direction: row;
    }
    .rph {
        max-width: 50%;
    } 

    /* SERVIVES PROVIDED PAGE */
    .services-article {
        flex-direction: row;
        align-items: start;
        margin-top: 1rem;
    }
    .services-article img {
        max-width: 50%;
    }
    .desc {
        max-width: 50%;
    }     

    /* CONTACT US PAGE */
    .get-in-touch p{
        text-align: left;
        margin: 1rem 0;
    }
    
    .form {
        max-width: 70%;
    }

    .one {
        width: 45%;
    }

    .map-parking {
        flex-direction: row;
    }
}

@media screen and (min-width:1100px){

    /* BASE STYLES */
    main {
        margin-inline: 15vw;
        /* margin-block: 0;         */
    }
    footer {
        padding-inline: 15vw;
    }
    .rph {
        display: flex;
    } 
    .bocce {
        display: flex;
        justify-content: space-around;
    }
    .bocce p {
        max-width: 50%;
    }

    /* ABOUT US PAGE */
    .rph-container p {
        max-width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
    /* HOME PAGE */
    .video-background {
        height: 500px;
    }
}